@model FileLoader.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Область</label>
        <div class="col-md-10">
            @Html.DropDownList("RegionId", ViewBag.Region as SelectList, "Выберите область" ,new { @class = "form-control", @required = "required", @id = "regionDropdown" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Район</label>
        <div class="col-md-10">
            @Html.DropDownList("AreaId", ViewBag.Area as SelectList, "Выберите район", new { @class = "form-control", @required = "required", @id = "areaDropdown" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">ФИО</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Логин</label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Пароль</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Подтвердите пароль</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true" title="Зарегистировать" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Зарегистировать</span></i></button>
            <a href="@Url.Action("UserList", "Account")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Назад</span></i></a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $("#regionDropdown").chosen();
            $("#areaDropdown").chosen();
        })
    </script>
}
